#include "qr2const.pas"

STRINGTABLE

{

  SqrPaperSize0, "Default size"
  SqrPaperSize1, "Letter 8 1/2 x 11 in"
  SqrPaperSize2, "Letter Small 8 1/2 x 11 in"
  SqrPaperSize3, "Tabloid 11 x 17 in"
  SqrPaperSize4, "Ledger 17 x 11 in"
  SqrPaperSize5, "Legal 8 1/2 x 14 in"
  SqrPaperSize6, "Statement 5 1/2 x 8 1/2 in"
  SqrPaperSize7, "Executive7 1/2 x 10 in"
  SqrPaperSize8, "A3 297 x 420 mm"
  SqrPaperSize9, "A4 210 x 297 mm"
  SqrPaperSize10, "A4 Small 210 x 297 mm"
  SqrPaperSize11, "A5 148 x 210 mm"
  SqrPaperSize12, "B4 250 x 354 mm"
  SqrPaperSize13, "B5 182 x 257 mm"
  SqrPaperSize14, "Folio 8 1/2 x 13 in"
  SqrPaperSize15, "Quarto 215 x 275 mm"
  SqrPaperSize16, "10x14 in"
  SqrPaperSize17, "11x17 in"
  SqrPaperSize18, "Note 8 1/2 x 11 in"
  SqrPaperSize19, "Envelope #9 3 7/8 x 8 7/8"
  SqrPaperSize20, "Envelope #10 4 1/8 x 9 1/2"
  SqrPaperSize21, "Envelope #11 4 1/2 x 10 3/8"
  SqrPaperSize22, "Envelope #12 4 \276 x 11"
  SqrPaperSize23, "Envelope #12 4 \276 x 11"
  SqrPaperSize24, "C size sheet"
  SqrPaperSize25, "D size sheet"
  SqrPaperSize26, "E size sheet"
  SqrPaperSize27, "Custom Size"
  SqrTitle, "Title"
  SqrPageHeader, "Page Header"
  SqrDetail, "Detail"
  SqrPageFooter, "Page Footer"
  SqrSummary, "Summary"
  SqrGroupHeader, "Group Header"
  SqrGroupFooter, "Group Footer"
  SqrSubDetail, "Sub Detail"
  SqrColumnHeader, "Column Header"
  SqrOverlay, "Overlay"
  SqrChild, "Child"
  SqrTitleBandName, "TitleBand"
  SqrPageHeaderBandName, "PageHeaderBand"
  SqrDetailBandName, "DetailBand"
  SqrPageFooterBandName, "PageFooterBand"
  SqrSummaryBandName, "SummaryBand"
  SqrGroupHeaderBandName, "GroupHeaderBand"
  SqrGroupFooterBandName, "GroupFooterBand"
  SqrSubDetailBandName, "SubDetailBand"
  SqrColumnHeaderBandName, "ColumnHeaderBand"
  SqrOverlayBandName, "OverlayBand"
  SqrChildBandName, "ChildBand"
  SqrColumnFooter, "Column footer" 
  SqrFont, "Font"
  SqrFontSize, "Font size"
  SqrOK, "OK"
  SqrCancel, "Cancel"
  SqrExprWizard, "Expression Wizard"
  SqrZoomToFit, "Zoom to fit"
  SqrZoom100, "100% Size"
  SqrZoomToWidth, "Zoom to width"
  SqrFirstPage, "First page"
  SqrPrevPage, "Previous page"
  SqrNextPage, "Next page"
  SqrLastPage, "Last page"
  SqrPrintReport, "Print report"
  SqrPrinterSetup, "Printer setup"
  SqrSaveReport, "Save report"
  SqrLoadReport, "Load report"
  SqrPage, "Page"
  SqrOf, "of"
  SqrIllegalNewPage, "Illegal call to NewPage"
  SqrQRPrinterNotReady, "QRPrinter not ready"
  SqrValues, "Values"
  SqrLeftFrame, "Left frame"
  SqrRightFrame, "Right frame"
  SqrTopFrame, "Top frame"
  SqrBottomFrame, "Bottom frame"
  SqrFilterExpr, "Filter expression"
  SqrChildBand, "Child band"
  SqrQuickRepBusy, "TQuickRep is busy"
  Sqr1Column, "1 Column"
  Sqr2Columns, "2 Columns"
  Sqr3Columns, "3 Columns"
  Sqr4Columns, "4 Columns" 
  SqrNewReport, "New report"
  SqrPrint, "Print"
  SqrPreview, "Preview"
  SqrCut, "Cut"
  SqrCopy, "Copy"
  SqrPaste, "Paste"
  SqrInsertField, "Insert field"
  SqrInsTextArea, "Insert text area"
  SqrInsShape, "Insert shape"
  SqrInsPic, "Insert picture"
  SqrBold, "Bold"
  SqrItalic, "Italic"
  SqrUnderline, "Underline"
  SqrLeftAlign, "Left align"
  SqrRightAlign, "Right align"
  SqrCenter, "Center"
  SqrAlignToPage, "Align to page"
  SqrFontColor, "Font color"
  SqrBackgroundColor, "Background color"
  SqrExpression, "Expression"
  SqrErrorInExpr, "Error in expression"
  SqrTime, "Time"
  SqrDate, "Date"
  SqrDateTime, "Date/Time"
  SqrPageNum, "Page#"
  SqrReportTitle, "Report title"
  SqrDetailCount, "Detail count"
  SqrDetailNo, "Detail no"
  SqrQSD, "QuSoft AS"
  SqrAbstractFilterDescription, "Abstract non-working export filter"
  SqrAbstractFilterName, "Abstract filter"
  SqrAsciiFilterDescription, "Text export (ASCII) filter"
  SqrAsciiFilterName, "Text file"
  SqrAsciiFilterExtension, "TXT"
  SqrRectangle, "Rectangle"
  SqrCircle, "Circle"
  SqrVertLine, "Vertical line"
  SqrHorzLine, "Horizontal line"
  SqrTopBottom, "Top and bottom lines"
  SqrRightLeft, "Right and left lines"
  SqrFrameColor, "Frame color"
  SqrCopyright, "Copyright 1997 QuSoft AS"
  SqrZoomIn, "Zoom in"
  SqrZoomOut, "Zoom out"
  SqrReportSettings, "Report settings"
  SqrAboutQR, "About QuickReport"
  SqrGetUpdates, "For updates, QuickReport add-ons and other components visit us at our web site at"
  SqrNone, "none"
  SqrRotateBands, "Rotate band view"
  SqrHideBands, "Hide bands"
  SqrResetBands, "Reset band view"
  SqrMoveGroupUp, "Move group up"
  SqrMoveGroupDown, "Move group down"
  SqrMoveSubdetailUp, "Move subdetail up"
  SqrMoveSubdetailDown, "Move subdetail down"
  SqrFree, ""
  SqrNext, "Next"
  SqrCancelWizard, "Cancel QuickReport Wizard?"
  SqrLayout, "Layout"
  SqrData, "Data"
  SqrPgHeader, "Pg header"
  SqrColHdr, "Col header"
  SqrPgFooter, "Pg footer"
  SqrErrorLoading, "Error loading report"
  SqrDesignReport, "Design of a report"
  SqrCannotAdd, "Cannot add a %s component to a report."
  SqrFileNotExist, "File does not exist"
  SqrCompleted, " Completed"
  SqrQRFile, "QuickReport file"
  SqrIfDesc, "Returns <X> or <Y> depending on the boolean expression <Exp>"
  SqrStrDesc, "Convert a numeric <X> to a string"
  SqrTimeDesc, "Return current time as a string"
  SqrDateDesc, "Return current date as a string"
  SqrSumDesc, "Sums the numeric <X>"
  SqrCopyDesc, "Returns a substring of string X"
  SqrCountDesc, "Increments for each iteration"
  SqrMaxDesc, "Returns the highest <X>"
  SqrMinDesc, "Returns the lowest <X>"
  SqrAverageDesc, "Returns the average of numeric <X>"
  SqrBoolDesc, "boolean value"
  SqrIntDesc, "Returns the integer part of <X>"
  SqrFracDesc, "Returns the fractional part of <X>"
  SqrSqrtDesc, "Returns square root of <X>"
  SqrTypeofDesc, "Returns the data type of <Exp>"
  SqrNoCircular, "Circular linking not allowed"
  SqrUpperDesc, "Converts a string to upper case letters"
  SqrLowerDesc, "Converts a string to lower case letters"
  SqrPrettyDesc, "Makes the first character upper case and the rest lower case"
  SqrNew, "New"
  SqrBusiness, "Business"
  SqrConverted, "Your QuickReport has been partially converted from version 1 to 2. Save form before proceeding to keep changes or close without saving to cancel" 
  SqrFormatNumericDesc, "Formats numeric <N> using the mask in <F>"
  SqrFinish, "Finish"
  
 }
